<div class="post-box col-lg-4 col-md-4 col-sm-6 promotion-item">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="list-group" _style="padding: 10px 0;margin:0;">
                <div class="row">
                    <div class="col-lg-3">
                        <img class="circle img-responsive" src="http://lorempixel.com/55/55/business/1" alt="icon">
                    </div>
                    <div class="col-lg-9">
                        <h4 class="list-group-item-heading">Акция: {{promotionItem.Name}}</h4>
                        <p class="list-group-item-text">(10 Февраля - 12 Февраля 2017)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <img src="assets/images/ring50.svg" alt="" [attr.data-original]="promotionItem.FolderWithImagePath" class="img-lazy img-responsive img-thumbnail">
        </div>
        <div class="_panel-footer" style="overflow: hidden;">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a href="javascript:void(0)" class="btn promotion-item__btn"><i class="fa fa-comment"></i>&nbsp;<span class="badge">0</span></a>
                    <a href="javascript:void(0)" class="btn promotion-item__btn"><i class="fa fa-thumbs-o-down"></i>&nbsp;<span class="badge">0</span></a>
                    <a href="javascript:void(0)" class="btn promotion-item__btn"><i class="fa fa-thumbs-o-up"></i>&nbsp;<span class="badge">3</span></a>
                </div>
            </div>
        </div>
        <div class="alert alert-danger h3"><i class="fa fa-clock-o"></i> Завтра последний день</div>
    </div>
</div>