<div class="col-lg-9 col-md-9 well">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="h3">
                <span class="inline-block">
                    <a>Ваши акции</a>
                </span>
                <span class="inline-block">
                    <a class="btn btn-default _btn-raised" href="/AllCities/ru-Ru/Promotion/Add">
                        <i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> Добавить акцию
                    </a>
                </span>
            </h1>
        </div>
    </div>
    <hr>
    <form action="/AllCities/ru-Ru/Promotion" class="form-inline" method="get">
        <!--<div class="form-group form-group-no-margin">|</div>-->
    </form>
    <hr>
    <div style="overflow-x: scroll;">
        <table class="_discount-table table table-responsive _table-bordered table-striped">
            <!--<caption>Списко акций</caption>-->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Name</th>
                    <th>PublishDate</th>
                    <th>UpdateDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Марсоход</td>
                    <td>День победы</td>
                    <td>17.04.2017</td>
                    <td>22.04.2017</td>
                    <td><a href="#">Удалить</a></td>
                </tr>
                <tr>
                    <td>Ураган</td>

                    <td>День победы</td>
                    <td>17.04.2017</td>
                    <td>22.04.2017</td>
                    <td><a href="#">Удалить</a></td>
                </tr>
                <tr>
                    <td>Собака</td>

                    <td>День победы</td>
                    <td>17.04.2017</td>
                    <td>22.04.2017</td>
                    <td><a href="#">Удалить</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>