<nav *ngIf="page && page.TotalItemCount" aria-label="Page navigation">
    <ul class="pagination">

        <li *ngIf="page.IsLastPage"><a class="pagination__link" data-value="1" href="#">««</a></li>

        <li *ngIf="page.HasPreviousPage">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <ng-container *ngFor="let i of generateArray()">
            <li *ngIf="page.PageNumber === i" class="active"><a class="pagination__link" [attr.data-value]="i" href="#">{{i}}</a></li>

            <li *ngIf="page.PageNumber !== i"><a class="pagination__link" [attr.data-value]="i" href="#">{{i}}</a></li>
        </ng-container>

        <li *ngIf="page.HasNextPage">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

        <li *ngIf="page.IsFirstPage"><a class="pagination__link" [attr.data-value]="page.PageCount" href="#">»»</a></li>

    </ul>
</nav>

<!--
  <label *ngIf="j === 0; else elseBlock">{{val}}</label>
<ng-template #elseBlock>
    <label style="color:#000000;font-size:12px;padding-top: 5px">{{val}}</label>
</ng-template>-->