<div class="col-lg-6 col-md-6 well">
    <h1 class="h3"><a>Добавить новую компанию</a></h1>
    <form action="/AllCities/ru-Ru/Company/Add" id="main_form" method="post" role="form" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" value="T7P_9vLP7hGedAzZox0tZ0hpSWirMS8xgkajAgwTv1Omj5TKkVuo8sqNhQgeTiCSfOLAG0dWVS7-CzcYAYI_Q6EBXF8HxRWe8ui12czq199moqkO5kvmYiAg4BMvRkGXAu1AECI9C5AE8cYvY4H_cg2">
        <input id="TempFolderName" name="TempFolderName" type="hidden" value="Id_1_20170708_1cbc74413020421daa76445e68b8e696">
        <fieldset>
            <div class="form-group label-floating is-empty">
                <label class="control-label" for="Name">Название магазина</label>
                <input class="form-control text-box single-line" data-val="true" data-val-required="The Название магазина field is required."
                    id="Name" name="Name" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                <p class="help-block">Например: ТОО "Евразия"</p>
            </div>
            <div class="form-group label-floating is-empty">
                <label class="control-label" for="HotLineNumber">Телефон горячей линии</label>
                <input class="form-control text-box single-line" data-val="true" data-val-regex="Неправильный формат номера ^\d{1,12}$" data-val-regex-pattern="^\d{1,12}$"
                    data-val-required="The Телефон горячей линии field is required." id="HotLineNumber" name="HotLineNumber"
                    type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="HotLineNumber" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group label-floating is-empty">
                <label class="control-label" for="WebSiteLink">Ссылка на Ваш сайт</label>
                <input class="form-control text-box single-line" data-val="true" data-val-regex="Неверный формат" data-val-regex-pattern="^http(s?)\:\/\/[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;amp;%\$#_]*)?$"
                    id="WebSiteLink" name="WebSiteLink" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="WebSiteLink" data-valmsg-replace="true"></span>
                <p class="help-block">Например: http://www.mysite.com</p>
            </div>
            <div class="form-group label-floating is-empty">
                <label class="control-label" for="Description">Описание</label>
                <textarea class="form-control" cols="20" id="Description" name="Description" rows="3"></textarea>
                <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
            </div>
        </fieldset>
    </form>
</div>

<div class="col-lg-3 col-md-3">
    <!--<h3>Добавление нового магазина</h3>-->
    <h3>Логотип</h3>
    <span class="field-validation-valid text-danger" data-valmsg-for="TempFolderName" data-valmsg-replace="true"></span>
    <form action="/AllCities/ru-Ru/Company/UploadLogo" class="dropzone dz-clickable" id="upload-widget" method="post" enctype="multipart/form-data">
        <input id="TempFolderName" name="TempFolderName" type="hidden" value="Id_1_20170708_1cbc74413020421daa76445e68b8e696">
        <div class="form-group">

        </div>
        <div class="dz-default dz-message"><span>Нажмите или перетащите файлы</span></div>
    </form>
    <div class="form-group">
        <div class="checkbox">
            <label>                  
          <input data-val="true" data-val-required="The OfferComfirmed field is required." id="OfferComfirmed" name="OfferComfirmed" type="checkbox" value="true"><span class="checkbox-material"><span class="check"></span></span><input name="OfferComfirmed" type="hidden" value="false">
          <span class="field-validation-valid text-danger" data-valmsg-for="OfferComfirmed" data-valmsg-replace="true"></span>
          Я прочитал(a) <a href="#">правила</a>
      </label>
        </div>
    </div>
    <input class="btn btn-primary btn-raised" type="submit" value="Добавить компанию" onclick="javascript: if ($('#main_form').valid()) document.getElementById('main_form').submit();">
</div>