<div class="col-lg-9 col-md-9 well">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="h3"><a>Добавление нового магазина</a></h1>
    </div>
  </div>

  <form action="/AllCities/ru-Ru/Merchant/Add" id="main_form" method="post" role="form" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" value="ZVAQN3L-l--eZ-wYLlJ-YB011AVFrGqpDLFOQkW4Nm21G6bDtnVY5RRY8n93Na9IrqswAmF_LlIiDCurcn_qKuSdA15-nfaYhhci8XclRqL3DYkM7uQ8JBHm2C5m7I6XSEhrNDGq4SAIw_fDoHasfg2">
    <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
      <ul>
        <li style="display:none"></li>
      </ul>
    </div>
    <fieldset>
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="form-group">
            <a><label class="control-label" for="CompanyId">Укажите компанию</label></a>
            <select class="form-control" id="companyId" name="companyId"><option value="2">ТОО "Nasa"</option>
											<option value="3">ТОО "Машинка"</option>
											<option value="4">ТОО "Test"</option>
										</select>
            <span class="field-validation-valid text-danger" data-valmsg-for="CompanyId" data-valmsg-replace="true"></span>
          </div>
          <div class="form-group">
            <a><label class="control-label" for="MerchantCategoryId">Укажите категорию</label></a>
            <select class="form-control" id="merchantCategoryId" name="merchantCategoryId"><option value="1">Продукты</option>
											<option value="2">Электроника и Бытовая Техника</option>
											<option value="3">Косметика и бытовая химия</option>
											<option value="4">Ремонт и товары для дома</option>
											<option value="5">Товары для детей</option>
											<option value="6">Одежда и обувь</option>
											<option value="7">Мебель</option>
											<option value="8">Аптеки</option>
											<option value="9">Интернет магазины</option>
											<option value="10">Ювелирные изделия</option>
											<option value="11">Авто</option>
											<option value="12">Товары для животных</option>
											<option value="13">Другое</option>
										</select>
            <span class="field-validation-valid text-danger" data-valmsg-for="MerchantCategoryId" data-valmsg-replace="true"></span>
          </div>
          <div class="row">
            <div class="form-group col-lg-6 is-empty">
              <a><label class="control-label" for="CityId">Добавьте город</label></a>
              <select class="form-control selectYandexCityMap" data-val="true" data-val-number="The field Добавьте город must be a number."
                data-val-required="Поле &quot;Добавьте город&quot; пустое" id="CityId" name="CityId"><option value=""></option>
												<option value="1">Акколь</option>
												<option value="2">Аксай</option>
												<option value="3">Аксу</option>
												<option value="39">Актау</option>
												<option value="11">Актобе</option>
												<option value="12">Алга</option>
												<option value="15">Алматы</option>
												<option value="51">Аральск</option>
											</select>
              <span class="field-validation-valid text-danger" data-valmsg-for="CityId" data-valmsg-replace="true"></span>
            </div>
          </div>
          <div class="form-group label-floating is-empty">
            <a><label class="control-label" for="Information">Укажите улицу, дом</label></a>
            <input class="form-control text-box single-line" data-val="true" data-val-required="Поле &quot;Укажите улицу, дом&quot; пустое"
              id="Information" name="Information" type="text" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="Information" data-valmsg-replace="true"></span>
          </div>
          <div class="form-group">
            <p>Выбрать на карте</p>
            <input id="MapJsonCoord" name="MapJsonCoord" type="hidden" value="">
            <div id="map" style="min-height: 300px; position: relative; overflow: hidden;border: 1px solid;" width="100%">

            </div>
            <div id="message">Location saved</div>
          </div>
          <div class="form-group label-floating is-empty">
            <a><label class="control-label" for="Description">Информация о магазине (телефоны, стоянки и т.д.)</label></a>
            <textarea class="form-control" cols="20" id="Description" name="Description" rows="3"></textarea>
            <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
          </div>
        </div>
        <div class="col-lg-5 col-md-5">
          <div class="form-group is-empty">
            <label for="WorkTime">Время работы</label>
            <div class="row">
              <div class="col-sm-6">
                <input class="form-control timepicker_from text-box single-line ui-timepicker-input" id="WorkTime_Begin" name="WorkTime.Begin"
                  placeholder="9:00" type="text" value="" autocomplete="off">
                <span class="field-validation-valid text-danger" data-valmsg-for="WorkTime" data-valmsg-replace="true"></span>
              </div>
              <div class="col-sm-6">
                <input class="form-control timepicker_to text-box single-line ui-timepicker-input" id="WorkTime_End" name="WorkTime.End"
                  placeholder="20:00" type="text" value="" autocomplete="off">
                <span class="field-validation-valid text-danger" data-valmsg-for="WorkTime" data-valmsg-replace="true"></span>
              </div>
            </div>
          </div>

          <div class="form-group is-empty">
            <label for="WorkTimeSaturday">Суббота</label>
            <div class="row">
              <div class="col-sm-6">
                <input class="form-control timepicker_from text-box single-line ui-timepicker-input" id="WorkTimeSaturday_Begin" name="WorkTimeSaturday.Begin"
                  placeholder="09:00" type="text" value="" autocomplete="off">
              </div>
              <div class="col-sm-6">
                <input class="form-control timepicker_to text-box single-line ui-timepicker-input" id="WorkTimeSaturday_End" name="WorkTimeSaturday.End"
                  placeholder="20:00" type="text" value="" autocomplete="off">
              </div>
            </div>
          </div>

          <div class="form-group is-empty">
            <label for="WorkTimeSunday">Воскресенье</label>
            <div class="row">
              <div class="col-sm-6">
                <input class="form-control timepicker_from text-box single-line ui-timepicker-input" id="WorkTimeSaturday_Begin" name="WorkTimeSaturday.Begin"
                  placeholder="9:00" type="text" value="" autocomplete="off">
              </div>
              <div class="col-sm-6">
                <input class="form-control timepicker_to text-box single-line ui-timepicker-input" id="WorkTimeSunday_End" name="WorkTimeSunday.End"
                  placeholder="20:00" type="text" value="" autocomplete="off">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label>
                      <input data-val="true" data-val-required="The OfferComfirmed field is required." id="OfferComfirmed" name="OfferComfirmed" type="checkbox" value="true"><span class="checkbox-material"><span class="check"></span></span><input name="OfferComfirmed" type="hidden" value="false">
                      <span class="field-validation-valid text-danger" data-valmsg-for="OfferComfirmed" data-valmsg-replace="true"></span>
                      Я прочитал(a) <a href="#">правила</a>
                  </label>
            </div>
          </div>

          <input class="btn btn-primary btn-raised" type="submit" value="Добавить магазин" onclick="javascript: if ($('#main_form').valid()) document.getElementById('main_form').submit();">
        </div>
      </div>
    </fieldset>
  </form>
</div>