<section class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well">

            <form action="/AllCities/ru-Ru/Account/Login" method="post" role="form" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" value="-GKeWuD2UpYBHdl0tR7vNtoDdnLJZW5ib3vo-4zfs0nm2hrEfayyNVqkQ_lOZQbSkYK4R0MYILGGjW5L8j_K11I8r4AJRlKHYttd0FydoSI1">
                <fieldset>
                    <legend class="h3">
                        Авторизация
                    </legend>

                    <div class="form-group label-floating is-empty">
                        <label class="control-label" for="dateExpired">Email</label>
                        <input class="form-control valid" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required."
                            id="dateExpired" name="Email" type="text" value="" aria-required="true" aria-describedby="dateExpired-error"
                            aria-invalid="false">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        <p class="help-block">Например: example@mail.ru</p>
                    </div>
                    <div class="form-group label-floating is-empty">
                        <label class="control-label" for="Password">Password</label>
                        <input class="form-control valid" data-val="true" data-val-required="The Password field is required." id="Password" name="Password"
                            type="password" aria-required="true" aria-describedby="Password-error" aria-invalid="false">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        Еще нет аккаунта? <a href="/AllCities/ru-Ru/Account/Register">Зарегистрируйтесь</a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-raised btn-block"><b>Войти</b></button>

                </fieldset>
            </form>
        </div>
    </div>
</section>