<section class="container">
    <div class="row">

        <!--Sidebar menu-->
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <ul class="nav nav-pills nav-stacked">
                <li routerLinkActive="active"><a routerLink="/room/add-company"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> Добавить компанию</a></li>
                <li routerLinkActive="active"><a routerLink="/room/list-of-companies"><i class="fa fa-plus"></i> <i class="fa fa-tag"></i> Список компаний</a></li>
                <li routerLinkActive="active"><a routerLink="/room/add-realstate"><i class="fa fa-shopping-cart"></i> Добавить магазин</a></li>
                <li routerLinkActive="active"><a routerLink="/room/list-of-realstate"><i class="fa fa-tag"></i> Список магазинов</a></li>
                <li routerLinkActive="active"><a routerLink="/room/add-promotion"><i class="fa fa-map-marker"></i> Добавить акцию</a></li>
                <li routerLinkActive="active"><a routerLink="/room/list-of-promotion"><i class="fa fa-map-marker"></i> Акции</a></li>

                <!--<li><a href="#"><i class="fa fa-user"></i> Мой профиль</a></li>
                <li><a href="subscriptionList.html"><i class="fa fa-mail-forward"></i> Подписки</a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Настройки</a></li>-->
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 hidden-lg hidden-md well">
            <ul class="nav nav-pills nav-stacked">
                <li routerLinkActive="active"><a routerLink="/room/add-company"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> Добавить компанию</a></li>
                <li routerLinkActive="active"><a routerLink="/room/list-of-companies"><i class="fa fa-plus"></i> <i class="fa fa-tag"></i> Список компаний</a></li>
                <li routerLinkActive="active"><a routerLink="/room/add-realstate"><i class="fa fa-shopping-cart"></i> Добавить магазин</a></li>
                <li routerLinkActive="active"><a routerLink="/room/list-of-realstate"><i class="fa fa-tag"></i> Список магазинов</a></li>
                <li routerLinkActive="active"><a routerLink="/room/add-promotion"><i class="fa fa-map-marker"></i> Добавить акцию</a></li>
                <li routerLinkActive="active"><a routerLink="/room/list-of-promotion"><i class="fa fa-map-marker"></i> Акции</a></li>

                <!--<li><a href="#"><i class="fa fa-user"></i> Мой профиль</a></li>
                <li><a href="subscriptionList.html"><i class="fa fa-mail-forward"></i> Подписки</a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Настройки</a></li>-->
            </ul>
        </div>
        <!--Sidebar menu-->
        
        <router-outlet></router-outlet>

    </div>
</section>