<div class="col-lg-9 col-md-9 well">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="h3">
                <span class="inline-block"><a>Список компаний</a></span>
                <span class="inline-block">
                    <a class="btn btn-default" href="/AllCities/ru-Ru/Company/Add">
                        <i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> Добавить компанию
                    </a>
                </span>
            </h1>
        </div>
    </div>

    <hr class="hidden-sm hidden-xs">
    <hr class="hidden-sm hidden-xs">
    
    <div style="overflow-x: scroll; ">
        <table class="table">
            <tbody>
                <tr>
                    <th>
                        Название магазина
                    </th>
                    <th>
                        Телефон горячей линии
                    </th>
                    <th>
                        Ссылка на Ваш сайт
                    </th>
                    <th></th>
                </tr>

                <tr>
                    <td>
                        ТОО "Nasa"
                    </td>
                    <td>
                        77051225445
                    </td>
                    <td>
                        http://www.mysite.com
                    </td>
                    <td>

                        <a href="/AllCities/ru-Ru/Company/Delete/2">Удалить</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        ТОО "Машинка"
                    </td>
                    <td>
                        77075265644
                    </td>
                    <td>

                    </td>
                    <td>

                        <a href="/AllCities/ru-Ru/Company/Delete/3">Удалить</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        ТОО "Test"
                    </td>
                    <td>
                        87073652154
                    </td>
                    <td>

                    </td>
                    <td>
                        <a href="/AllCities/ru-Ru/Company/Delete/4">Удалить</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>