<section class="container">
    <form action="">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="h3">Акции и скидки супермаркетов в городе Алматы</h1>
            </div>
        </div>
        <div class="row well">
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label for="select111" class="control-label"><i class="fa fa-calendar"></i> Выберите время акций</label>
                    <select id="select111" class="form-control">
                            <option>Текущие и будущие акции</option>
                            <option>Акции за вчера 10 Февраля</option>
                            <option>Акции за сегодня 11 Февраля</option>
                            <option>Акции на завтра 12 Февраля</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label for="select111" class="control-label"><i class="fa fa-sort"></i> Новые или старые</label>
                    <select id="select111" class="form-control">
                                <option>Только новые</option>
                                <option>Высокий рейтинг</option>
                                <option>Низкий рейтинг</option>
                            </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="form-group">
                    <!--<br class="hidden-md hidden-sm hidden-xs" />-->
                    <label for="select111" class="control-label" style="color:transparent;"><i class="fa fa-search"></i> Найти</label>
                    <input class="btn btn-primary btn-block btn-raised" type="submit" value="Найти акцию">
                </div>
            </div>
        </div>
    </form>

    <div class="row well">
        <span *ngIf="gifLoader">
            <img src="/assets/images/loader.gif" alt="" style="height: 70px;">
        </span>
        <section class="_masonry">
            <masonry [options]="options" [useImagesLoaded]="true">

                <app-promotion-item masonry-brick *ngFor="let promotionItem of promotionItems" [promotionItem]="promotionItem">

                </app-promotion-item>

            </masonry>
        </section>

        <!--<masonry>
            <masonry-brick class="brick" *ngFor="let brick of bricks">{{brick.title}}</masonry-brick>
        </masonry>-->
    </div>
    <!--
            <div class="row well">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li class="disabled"><a href="javascript:void(0)">«</a></li>
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                        <li><a href="javascript:void(0)">2</a></li>
                        <li><a href="javascript:void(0)">3<div class="ripple-container"></div></a></li>
                        <li><a href="javascript:void(0)">4</a></li>
                        <li><a href="javascript:void(0)">5</a></li>
                        <li><a href="javascript:void(0)">»</a></li>
                    </ul>
                </div>
            </div>-->
</section>